<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Burgers</title>
		<link rel ="stylesheet" href="assets/css/styles.css">
		<link rel="stylesheet" href="https://use.typekit.net/ebf5bxx.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgerFunction.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
